azure-storage-blob==12.8.1
paramiko==3.3.1
pymsteams==0.2.2
PyYAML==6.0.1
setuptools==68.2.2
SQLAlchemy==1.4.2
pydantic==1.10.13
tox == 4.11.3
pytest==7.4.2
pytest-cov==4.1.0
azure-storage-blob==12.8.1